<aside class="menu">
<p class="menu-label">Documentation</p>
<ul class="menu-list">
{% for post in site.products %}
    {% if post.product == page.product %}
        <li>
            <a href="{{ post.url | relative_url }}" class="{% if post.url == page.url %}is-active{% endif %}">{{ post.title }}</a>
        </li> 
    {% endif %}
{% endfor %}
{% for post in site.documentation %}
    {% if post.product == page.product %}
        <li>
            <a href="{{ post.url | relative_url }}" class="{% if post.url == page.url %}is-active{% endif %}">{{ post.title }}</a>
        </li> 
    {% endif %}
{% endfor %}
</ul>
</aside>