<footer class="footer">
    <div class="container">
        <div class="content is-small has-text-centered">
            <p class="">Copyright © 2019-{{ 'now' | date: "%Y" }} Philip Edwards</p>
        </div>

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class=""><a href="{{ site.url }}{% link privacypolicy.md %}">Privacy Policy</a></p>
        </div>
        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>

        <div class="content is-small has-text-centered">
            <p class="">Page last modified at {{ site.time }}</a></p>
        </div>
        
    </div>
</footer>