

{% if page.project %}
<p class="title is-4">Latest Project News</p>
<div class="columns is-multiline">
    {% assign post_count = 0 %}
    {% for post in site.posts %}
        {% if post.project == page.project %}
            {% assign post_count = post_count | plus:1 %}
            {% if post_count > 3 %}
                {% break %}
            {% endif %}
            <div class="column is-12">
                {% include post-card.html %}
            </div>
        {% endif %}
    {% endfor %}
    {% if post_count == 0 %}
    <p class="subtitle is-6">No news for this project</p>
    {% endif %}
</div>
{% else %}
<p class="title is-4">Latest Articles</p>
<div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
</div>
{% endif %}
