<div class="column is-12">

    <a href="{{ project.url | relative_url }}">

        <div class="card">

            {% if project.image %}
            <div class="card-image">
                <figure class="image">
                <img src="{{ project.image }}" alt="{{ project.title }}" />
                </figure>
            </div>
            {% endif %}
            <div class="card-content">

                <p class="title is-4">{{ project.title }}</h2>
                <p class="subtitle is-4">{{ project.subtitle }}</p>  
                <p class="title is-5 has-text-right">{{ project.project-type }}</p>

            </div>

            <footer class="card-footer">
                <p class="card-footer-item">Published: {{ project.date | date: "%b %-d, %Y" }}</p>
            </footer>
        </div>

    </a>
</div>