<section class="socials-hero">
    <div class="container">

        <a class="button is-medium is-youtube socials-desktop"
            onclick="window.open('https://www.youtube.com/channel/UCCQtkX04EhNu5ZmONk7Ziaw');">
            <span class="icon">
                <i class="fab fa-youtube fa-lg"></i>
            </span>
            <span> GDCorner</span>
        </a>

        <a class="button is-medium is-youtube socials-mobile"
            onclick="window.open('https://www.youtube.com/channel/UCCQtkX04EhNu5ZmONk7Ziaw');">
            <span class="icon"><i class="fab fa-youtube fa-lg"></i></span>
        </a>


        <a class="button is-medium is-facebook socials-desktop"
            onclick="window.open('https://www.facebook.com/GDCornerFB');">
            <span class="icon">
                <i class="fab fa-facebook fa-lg"></i>
            </span>
            <span> GDCornerFB</span>
        </a>

        <a class="button is-medium is-facebook socials-mobile"
            onclick="window.open('https://www.facebook.com/GDCornerFB');">
            <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
        </a>


        <a class="button is-medium is-twitter socials-desktop"
            onclick="window.open('https://twitter.com/GDCorner');">
            <span class="icon">
                <i class="fab fa-twitter fa-lg"></i>
            </span>
            <span> GDCorner</span>
        </a>

        <a class="button is-medium is-twitter socials-mobile"
            onclick="window.open('https://twitter.com/GDCorner');">
            <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
        </a>
    </div>
</section>