<section class="socials-hero">
    <div class="container">
        <div class="socials-buttons has-text-centered">

            <a class="button is-medium is-youtube socials-desktop"
                href="https://www.youtube.com/channel/UCCQtkX04EhNu5ZmONk7Ziaw">
                <span class="icon">
                    <i class="fab fa-youtube fa-lg"></i>
                </span>
                <span> GDCorner</span>
            </a>

            <a class="button is-medium is-youtube socials-mobile"
                href="https://www.youtube.com/channel/UCCQtkX04EhNu5ZmONk7Ziaw">
                <span class="icon"><i class="fab fa-youtube fa-lg"></i></span>
            </a>


            <a class="button is-medium is-facebook socials-desktop"
                href="https://www.facebook.com/GDCornerFB">
                <span class="icon">
                    <i class="fab fa-facebook fa-lg"></i>
                </span>
                <span> GDCornerFB</span>
            </a>

            <a class="button is-medium is-facebook socials-mobile"
                href="https://www.facebook.com/GDCornerFB">
                <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
            </a>


            <a class="button is-medium is-twitter socials-desktop"
                href="https://twitter.com/GDCorner">
                <span class="icon">
                    <i class="fab fa-twitter fa-lg"></i>
                </span>
                <span> GDCorner</span>
            </a>

            <a class="button is-medium is-twitter socials-mobile"
                href="https://twitter.com/GDCorner">
                <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
            </a>


            <a class="button is-medium is-github socials-desktop"
                href="https://github.com/GDCorner">
                <span class="icon">
                    <i class="fab fa-github fa-lg"></i>
                </span>
                <span> GDCorner</span>
            </a>

            <a class="button is-medium is-github socials-mobile"
                href="https://github.com/GDCorner">
                <span class="icon"><i class="fab fa-github fa-lg"></i></span>
            </a>


            <a class="button is-medium is-discord socials-desktop"
                href="https://discord.gg/9nQUySPe9M">
                <span class="icon">
                    <i class="fab fa-discord fa-lg"></i>
                </span>
                <span> GDCorner</span>
            </a>

            <a class="button is-medium is-discord socials-mobile"
                href="https://discord.gg/9nQUySPe9M">
                <span class="icon"><i class="fab fa-discord fa-lg"></i></span>
            </a>
        </div>
    </div>
</section>