---
---

$primary: #3b3b3b;

@import "main";

//Used on the 404 page, to center content
.error-container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }

//////////////////////////////////////////////////////////////////////////
// check to remove
//////////////////////////////////////////////////////////////////////////

//Ugly red banner to identify the staging site, to redirect accidental visitors to the main site
#staging_warning { color: #fff; font-size: 24px; font-weight: 300; background: #ef0000; text-shadow: #111 0px 0px 10px; }
