---
---

@import "{{ site.theme }}";

//Fix slate themes code boxes having an ugly white inset box which doesn't cover all code
code {
    background-color: #00000000;
    font-size: 12px;
}

//Fix slate theme width to be a bit wider
.inner {
    max-width: 740px;
}

.embedvideo {
    width: 640px;
    height: 360px;
    display: block;
    overflow: hidden;
}

#about {
    display: block;
    position: absolute;
    top:0;
    
    z-index: 10;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background: #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }


#staging_warning { color: #fff; font-size: 24px; font-weight: 300; background: #ef0000; text-shadow: #111 0px 0px 10px; }

@media screen and (max-width: 480px) {
    .embedvideo {
        width: 95%;
        height: 220px;
        display: block;
        overflow: hidden;
    }
}