---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-9">
        <div class="content">
            {% if page.youtube_id %}
                {% include youtube.html video=page.youtube_id %}
            {% elsif page.vimeo_id %}
                {% include vimeo.html video=page.vimeo_id %}
            {% endif %}

            {{ content }}
        </div>
    </div>

    <div class="column is-3-desktop is-3-tablet">
        {% include documentation-menubar.html %}
    </div>

</div>


