---
layout: page
---

<div class="columns is-multiline">

    <div class="column is-9">
        {% if page.video_out_of_date == true %}
            {% include documentation-video-out-of-date-notice.html %}
        {% endif %}
        <div class="content">
            {% if page.youtube_id %}
                {% include youtube.html video=page.youtube_id %}
            {% elsif page.vimeo_id %}
                {% include vimeo.html video=page.vimeo_id %}
            {% endif %}

            {{ content }}
        </div>
    </div>

    <div class="column is-3-desktop is-3-tablet">
        {% include documentation-menubar.html %}
    </div>

</div>


