---
layout: page
---

<div class="content">

    <p class="post-author">Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>

    {% if page.series %}
        {% include series.html %}
    {% endif %}

    {% if page.transcription == true %}
     {% include post-transcription-note.html %}
    {% endif %}

    {% if page.youtube_id %}
        {% include youtube.html video=page.youtube_id %}
    {% elsif page.vimeo_id %}
        {% include vimeo.html video=page.vimeo_id %}
    {% endif %}

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}

{% if site.commento.enabled %}
    {% include commentocomments.html %}
{% endif %}
