---
layout: custom-default
---

<div class="postheader">
<h1>{{ page.title }}</h1>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="postdate">
Published {{page.date| date: date_format }}
</div>
</div>

{{ content }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% include lightbox.html %}

{% if site.disqus.shortname %}
    {% include disquscomments.html %}
{% endif %}
